/*修改提示文字的颜色*/
input::-webkit-input-placeholder {
	color: #8083d2 !important; 
	font-size: 0.3rem;
	background: transparent;
} /* WebKit browsers */ 
input:-moz-placeholder {
	color: #8083d2 !important; 
	font-size: 0.3rem;
	background: transparent;
}  /* Mozilla Firefox 4 to 18 */ 
input::-moz-placeholder {
	color: #8083d2 !important; 
	font-size: 0.3rem;
	background: transparent;
} /* Mozilla Firefox 19+ */ 
input:-ms-input-placeholder {
	color: #8083d2 !important; 
	font-size: 0.3rem;
	background: transparent;
} /* Internet Explorer 10+ */

/*修改提示文字的颜色*/
textarea::-webkit-input-placeholder {
	color: #8083d2 !important; 
	font-size: 0.3rem;
	background: transparent;
} /* WebKit browsers */ 
textarea:-moz-placeholder {
	color: #8083d2 !important; 
	font-size: 0.3rem;
	background: transparent;
}  /* Mozilla Firefox 4 to 18 */ 
textarea::-moz-placeholder {
	color: #8083d2 !important; 
	font-size: 0.3rem;
	background: transparent;
} /* Mozilla Firefox 19+ */ 
textarea:-ms-input-placeholder {
	color: #8083d2 !important; 
	font-size: 0.3rem;
	background: transparent;
} /* Internet Explorer 10+ */

.hatchDappsContain{
	width: 100%;
}
.hatchDappsContain>div.item{
	position: relative;
	width: 90%;
	margin: auto;
	border-radius: 5px;
}
.hatchDappsContain .item1{
	width: 35%;
}
.hatchDappsContain .item2{
	width: 65%;
}
.hatchDappsContain .item2_1{
	width: 65%;
}
.hatchDappsContain .item2 input{
	display: block;
	width: 100%;
	color: #fff;
	font-size: 0.3rem;
	background: transparent;
	border: none;
}
.hatchDappsContain .item2 textarea{
	display: block;
	width: 100%;
	color: #fff;
	font-size: 0.3rem;
	background: transparent;
	border: none;
	height: 1.4rem;
	resize:none;
}
.hatchDappsContain .btn{
	width: 5rem;
	height: 0.5rem;
	line-height: 0.5rem;
	background: #f79810;
	margin: 1rem auto;
	border-radius: 5px;
	text-align: center;
	font-size:0.3rem;
	color: #fff;
}
.hatchDappsContain .title{
	position: relative;
}
.dd .drop{
	position: absolute;
	width: 0.28rem;
	height: 0.17rem;
	right: 0.3rem;
	background: url("../img/icon/dropIcon.png") center center no-repeat;
	background-size:cover;
}
/* 选择框底部弹窗选择 */
#select_window{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	position: absolute;
	top: 0;
	z-index: 99999;
	/* display: none; */
	overflow: hidden;
	visibility: hidden;
	opacity:0;
}
#select_window #select_Content{
	width:100%;
	position: absolute;
	background: #fff;
	bottom: -100%;
	max-height: 100%;
	/* overflow-y: scroll;
	-webkit-overflow-scrolling : touch; */
	visibility: hidden;
}
#select_window #select_close{
	padding:0 0.3rem;
	background: #fff;
	height: 0.88rem;
	line-height: 0.88rem;
}
#select_window #select_close .closeIcon{
	width: 0.55rem;
	height: 0.55rem;
	background: url("../img/closeIcon.png") center no-repeat;
	background-size:cover;
}
#select_window .select_itemScroll{
	/* position: relative;
	width: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling : touch; */
	position: relative;
	width: 100%;
}
#select_window .select_item{
	padding: 0 0.3rem;
	line-height: 0.9rem;
	font-size: 0.3rem;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}

@keyframes visibleUp {
	0% {
		visible:hidden;
		opacity:0;
	}
	100% {
		visible:visible;
		opacity:1;
	}
}
@-moz-keyframes visibleUp {
	0% {
		visible:hidden;
		opacity:0;
	}
	100% {
		visible:visible;
		opacity:1;
	}
}
@-webkit-keyframes visibleUp {
	0% {
		visible:hidden;
		opacity:0;
	}
	100% {
		visible:visible;
		opacity:1;
	}
}
@-o-keyframes visibleUp {
	0% {
		visible:hidden;
		opacity:0;
	}
	100% {
		visible:visible;
		opacity:1;
	}
}
.visibleUp{
	animation: visibleUp 0.3s;
	-webkit-animation: visibleUp 0.3s;
	visibility: visible !important;
	opacity:1 !important;
}

@keyframes visibleOut {
	0% {
		visible:visible;
		opacity:1;
	}
	100% {
		visible:hidden;
		opacity:0;
	}
}
@-moz-keyframes visibleOut {
	0% {
		visible:visible;
		opacity:1;
	}
	100% {
		visible:hidden;
		opacity:0;
	}
}
@-webkit-keyframes visibleOut {
	0% {
		visible:visible;
		opacity:1;
	}
	100% {
		visible:hidden;
		opacity:0;
	}
}
@-o-keyframes visibleOut {
	0% {
		visible:visible;
		opacity:1;
	}
	100% {
		visible:hidden;
		opacity:0;
	}
}
.visibleOut{
	animation: visibleOut 0.3s;
	-webkit-animation: visibleOut 0.3s;
}

@keyframes windowMoveUp {
	0% {bottom:-100%;}
	100% {bottom:0;}
}
@-moz-keyframes windowMoveUp {
	0% {bottom:-100%;}
	100% {bottom:0;}
}
@-webkit-keyframes windowMoveUp {
	0% {bottom:-100%;}
	100% {bottom:0;}
}
@-o-keyframes windowMoveUp {
	0% {bottom:-100%;}
	100% {bottom:0;}
}
.windowUp{
	animation: windowMoveUp 0.3s;
	-webkit-animation: windowMoveUp 0.3s;
	bottom:0 !important;
	display: block !important;
	visibility: visible !important;
}

@keyframes windowMoveOut {
	0% {bottom:0;}
	100% {bottom:-100%;}
}
@-moz-keyframes windowMoveOut {
	0% {bottom:0;}
	100% {bottom:-100%;}
}
@-webkit-keyframes windowMoveOut {
	0% {bottom:0;}
	100% {bottom:-100%;}
}
@-o-keyframes windowMoveOut {
	0% {bottom:0;}
	100% {bottom:-100%;}
}
.windowOut{
	animation: windowMoveOut 0.5s;
	-webkit-animation: windowMoveOut 0.5s;
	bottom:-100% !important;
}