#disclaimer .item1 {
  font-size: 0.72rem;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 3rem;
  background: url("../img/icon/blog@2x.png") no-repeat center;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
#disclaimer .item2 {
  padding: 0 0.3rem;
  margin-top: -1.6rem;
}
#disclaimer .item2 .statementContent {
  padding: 0.3rem 0.3rem;
}
#disclaimer .item2 .statementContent > div.title {
  font-size: 0.32rem;
  padding-bottom: 0.2rem;
}
#disclaimer .item2 .statementContent > div.contentText {
  font-size: 0.26rem;
  padding-bottom: 0.3rem;
}
#disclaimer .item2 .statementContent > div.contentText p{
  color: #666;
  word-break: break-all;
}
#disclaimer .item2 .statementContent > div.contentText p:nth-child(1){
	padding-bottom: 0.2rem;
}
#disclaimer .item2 .statementContent > div.contentText p b{
	font-size: 0.32rem;
	color: #333;
}