<!DOCTYPE html>
<html>
	<head>			
		<title>Ethereum Alliance</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<meta content="telephone=no,email=no" name="format-detection">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0;">
		<meta content="yes" name="apple-mobile-web-app-capable"> 
		<meta content="yes" name="apple-touch-fullscreen">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta http-equiv="cache-control" content="no-siteapp">
		<meta name="robots" content="INDEX,FOLLOW">
		<!-- 公共文件 -->
		<script src="js/public/common.js?v=20190813" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/index.css?v=20190805"/>
		<script src="js/script/home.js?v=20190813" type="text/javascript" charset="utf-8"></script>
	</head>
	<body ng-app="myApp"  ng-controller="myContr">
		<!-- 引入下拉窗口 -->
		<div ng-include="'inc_menu.html?v=20190805'"></div>
		<div id="main">
			<header ng-include="'inc_header.html?v=20190814'"></header>
			<div id="baseContent">
				<div id="home">
					<div class="item-retreat" ng-if="team.global == 0">
						<div class="item-retreat-bg">
							<div class="item-retreat-box p-ct span100 textCenter">
								<div class="item-retreat-text1" data-localize="home.msg15">退本中！</div>
								<div class="item-retreat-text2 paddingt20" data-localize="home.msg16">上轮游戏已结束</div>
								<div class="item-retreat-text3" data-localize="home.msg17">游戏将于3天15小时后重新启动</div>
							</div>
						</div>
					</div>
					<div class="item1">
						<div class="item1-bg">
							<div class="item1-box p-ct paddingl60">
								<div class="item1-text1">公平 公正 公开</div>
								<div class="item1-text2">Fair and open</div>
								<!-- <div ng-click="join()" class="joinBtn" ng-class="{0:'btn-disabled',1:''}[team.global]"><em data-localize="home.msg2">立即参与</em><i> &rarr;</i></div> -->
								<div ng-if="team.global == 1" ng-click="join()" class="joinBtn"><em data-localize="home.msg2">立即参与</em><i> &rarr;</i></div>
								<div ng-if="team.global == 0" class="joinBtn btn-disabled"><em data-localize="home.msg2">立即参与</em><i> &rarr;</i></div>
							</div>
						</div>
					</div>
					<div class="item2">
						<div class="item2-title itemH100 paddingl60" data-localize="home.msg1">参与奖池</div>
						<div class="item2-content flex">
							<div class="content-left">
								<div class="item2-box item2-box-big bgColor-box1 borderRadius5">
									<img src="img/index/box1.png" alt="" srcset="">
									<div class="item2-box-data1 staticIncome"></div>
									<div class="item2-box-data2" data-localize="home.msg3">静态分红奖池</div>
								</div>
								<div class="item2-box borderRadius5 bgColor-box2">
									<img src="img/index/box2.png" alt="" srcset="">
									<div class="item2-box-data1 globalIncome"></div>
									<div class="item2-box-data2" data-localize="home.msg4">全球分红奖池</div>
								</div>
							</div>
							<div class="content-right">
								<div class="item2-box borderRadius5 bgColor-box3">
									<img src="img/index/box3.png" alt="" srcset="">
									<div class="item2-box-data1 parentIncome"></div>
									<div class="item2-box-data2" data-localize="home.msg5">推荐奖池</div>
								</div>
								<div class="item2-box borderRadius5 bgColor-box4">
									<img src="img/index/box4.png" alt="" srcset="">
									<div class="item2-box-data1 luckyIncome"></div>
									<div class="item2-box-data2" data-localize="home.msg6">终极bonus奖池</div>
								</div>
								<div class="item2-box borderRadius5 bgColor-box5">
									<img src="img/index/box5.png" alt="" srcset="">
									<div class="item2-box-data1 retreatIncome"></div>
									<div class="item2-box-data2" data-localize="home.msg7">退本奖池</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item3" id="remark">
						<div class="item3-content item3-bg">
							<div class="item3-content-title itemH100 textCenter" data-localize="home.msg8">参与方法</div>
							<div class="item3-content-text colorfff padding-20-30" data-localize="home.msg9">
								投入0.001个及以上的ETH，依据您的投资额度，可获得50%-100%的收益。
							</div>
						</div>

						<div class="item3-content item3-bg">
							<div class="item3-content-title itemH100 textCenter" data-localize="home.msg10">出局规则</div>
							<div class="item3-content-text colorfff padding-20-30">
								<p data-localize="home.msg11">投入0.5-11个ETH，收益达到1.5倍本金时出局</p>
								<p data-localize="home.msg12">投入11-21个ETH，收益达到1.8倍本金时出局</p>
								<p data-localize="home.msg13">投入21个及以上的ETH，收益达到2倍本金时出局</p>
							</p>
							<div class="item3-content-text color-red4 paddingl30 paddingb30" data-localize="home.msg14">注意：以上收益特指 静态分红+直推奖励</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
