<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/menu.css?v=20190805"/>
<script
  src="js/jquery.transit.js"
  type="text/javascript"
  charset="utf-8"
></script>
<div id="selectWindow" ng-click="drop($event)">
  <div class="content">
  	<div class="txLogo flex justifyBetween">
      <div class="logo">
        <img src="img/logo84.png">
      </div>
      <div ng-click="drop($event)" class="add">
        <img src="img/index/addIcon.png" />
      </div>
    </div>
    <div class="navList">
      <div class="item flex" ng-click="redirect(1)">
        <img class="paddingr20" src="img/index/jyIcon.png" />
        <div data-localize="inc_slect.msg1" >主页</div>
      </div>
      <!-- <div class="item flex" ng-click="redirect(2)">
        <img class="paddingr20" src="img/index/syIcon.png" />
        <div data-localize="inc_slect.msg2">玩法说明</div>
      </div> -->
      <div class="item flex" ng-click="redirect(3)">
        <img class="paddingr20" src="img/index/czIcon.png" />
        <div data-localize="inc_slect.msg3">我的推荐</div>
      </div>
      <div class="item flex" ng-click="redirect(4)">
        <img class="paddingr20" src="img/index/zzIcon.png" />
        <div data-localize="inc_slect.msg4">收益记录</div>
      </div>
      <div class="item flex" ng-click="redirect(5)">
        <img class="paddingr20" src="img/index/tbIcon.png" />
        <div data-localize="inc_slect.msg5">参与记录</div>
      </div>
      <div class="item flex" ng-click="redirect(6)">
        <img class="paddingr20" src="img/index/loIcon.png" />
        <div data-localize="inc_slect.msg7">抽奖记录</div>
      </div>
      <!-- <div class="item flex" ng-click="redirect(7)">
        <img class="paddingr20" src="img/index/szIcon.png" />
        <div data-localize="inc_slect.msg9">兑换</div>
      </div> -->
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $(".content").height('100%');
    $(".add img")
        .stop()
        .transition({ transform: "rotate(45deg)" });
  });
  var appElement = document.querySelector("[ng-controller=myContr]");
  var $scope = angular.element(appElement).scope();
  var state = false;
	var touchState = false;
	$scope.drop = function(e) {
    e.stopPropagation();

    if(isWeb() == 1){
      return
    }

		if(!state){
        state = true;
        touchState = true;
        
        $("#main").transition({
            "scale":"0.82",
            // "margin-right":"70%"
        }).parent().find("#selectWindow").transition({
            right:"0",
            "scale":"1"
        });
        /* setTimeout(function(){
          $("#main").bind("click",runMenu)
        },100) */
    }else{
        state = false;
        touchState = false;
        $("#main").transition({
            scale:"1",
            // "margin-right":"0"
        }).parent().find("#selectWindow").transition({
            "right":"-100%",
            "scale":"0.82"
        });
        /* $("#main").unbind("click",runMenu) */
    }
    /* $("#selectWindow").slideToggle(function() {
      if ($("#selectWindow").is(":hidden") == false) {
        $(".add img")
          .stop()
          .transition({ transform: "rotate(45deg)" });
      } else {
        $(".add img")
          .stop()
          .transition({ transform: "rotate(0deg)" });
      }
    }); */
  };
  var recommendAccount = getQueryArray()==null?"0x00":getQueryArray();
  $scope.redirect = function(index) {
    switch (Number(index)) {
      case 1:
        location.href = "home.html?recommendAccount="+recommendAccount;
        break;
      case 2:
        location.href = "#remark?recommendAccount="+recommendAccount;
        break;
      case 3:
      var fxFlag = getSession("fxFlag");
        if(fxFlag == 'false'){
          blackDialog.show(retData.menu.msg1);
          return false
        }
        location.href = "recommend.html?recommendAccount="+recommendAccount;
        break;
      case 4:
        location.href = "incomes.html?recommendAccount="+recommendAccount;
        break;
      case 5:
        location.href = "joins.html?recommendAccount="+recommendAccount;
        break;
      case 6:
        location.href = "lottery.html?recommendAccount="+recommendAccount;
        break;
      case 7:
      location.href = "openset.html?recommendAccount="+recommendAccount;
      break;
      default:
        console.log("默认");
    }
  };
</script>
