<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
.dapps_footer{
	height: auto;
	margin-top: 2rem;
	padding: 0.4rem 0.3rem;
	background: #f8f8f8;
}
.dapps_footer img.logoImg{
	width: 3.4rem;
	height: 0.64rem;
}
.dapps_footer .Ether Union{
	color: #c6c6c6;
	margin-top: 0.2rem;
	margin-bottom: 0.4rem;
}
.dapps_footer .item{
	color: #999;
	overflow: hidden;
}
.dapps_footer .item a{
	color: #999;
}
</style>
<div class="dapps_footer">
	<img class="logoImg" src="../img/logo_gray@2x.png.png" />
	<div class="Ether Union fonts28">© 2019 Ether Union</div>
	<div class="item flex justifyBetween fonts34 paddingb20"><span>Useful Links</span><span>Recommendations</span></div>
	<div class="item flex justifyBetween paddingb10"><a href="blog.html"><span>Blogs</span></a><a href="https://metamask.io"><span>MetaMask</span></a></div>
	<div class="item flex justifyBetween paddingb10"><a href="disclaimer.html"><span>Disclaimer</span></a><a href="https://wallet.coinbase.com"><span>Coinbase Wallet</span></a></div>
	<div class="item flex justifyBetween paddingb10"><a href="privacy.html"><span>Privacy</span></a><a href="https://trustwallet.com"><span>Trust Wallet</span></a></div>
	<div class="item flex justifyBetween paddingb10"><a href="terms.html"><span>Terms</span></a></div>
	
	<div class="item fonts34 margint30 marginb40"><span>Donations</span></div>
	<div class="item paddingb10"><span>ETH：</span><span>0xa4b002844217411e29ee03ef94ee881b3984563d</span></div>
	<div class="item paddingb10"><span>BTC：</span><span>1NcRimDgmhrDtJNLekNUVyU8Ry9uJDMJtD</span></div>
	<div class="item paddingb10"><span>LTC：</span><span>LQXQBmdeotxLWjFNq1FRCgaXhhGPGquwvz</span></div>
</div>
<script type="text/javascript">
</script>
